#box{
    color:blanchedalmond;
    text-align: center;
    text-decoration: peru;
    background-image: url('back\ ground\ image\ 2.jpg');
    width:400px;
    margin-left:400px ;
    margin-top: 50px;
    border-style:double;
    padding:50px;
    border-color: rgb(22, 21, 21);
    
}
body{
     background-image: url('background\ image12.jpg');
     background-size: cover; 
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    font-size: larger;
   
    
    
}